/*  your css code here. If applicable */
#title{
	width:570px;
	height:20px;
}
#author{
	width:570px;
	height:20px;
}
#isbn{
	width:570px;
	height:20px;
}
label{
	font-size:20px;
}

#submit{
	background-color:#0D6EFD;
	width:75px;
	height:25px;
	border:none;
	color:white;
	margin-top:10px;
	border-radius:2px;
}
table{
	width:500px;
	margin-top:50px;
	background-color:#FFFFFF;
}